#home {
	background: #4C5376;
	color: white;
}
.azulado{
	background: #4C5376;
}
h1{
	color: white;
}
.esbran{
	color: white;
}
footer p a{
	margin: 5px 15px;
	color: black;
}
footer p a:Hover{
	color: #4C5376;
}